<div class="container mt-5">
  <h1>New game</h1>
  <div class="letters" >
  <% @letters.each do |letter| %>
    <span class="letter-tile"><%= letter %></span>
  <% end %>
  </div>

  <div class="card-form">
    <form action="/score" method="post" data-turbo="false">
      <label for="word" class="form-label">What is the longest word can you find?</label>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <div class="card-form">
        <input type="text" id="word" name="word" class="form-control" margin-top="5em">
        <input type="submit" value="Play" class="btn btn-primary">
      </div>
    </form>

  </div>
</div>
